.slider {
  position: relative;
  height: 330px;
}

.slides-container {
  display: flex;
  transition: transform 1s ease;
}

.image {
  width: 5000px;
  height: 300px;
  border-radius: 10px;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: rgb(158, 142, 142);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: rgba(255, 132, 38, 0.9);
}

/* Adjust the position of the dots below the slides */
.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/// Thiện
.slider {
  position: relative;
  transition-duration: 1s ease;
  transition: opacity 1s ease, transform 1s ease;
}

.slider-icon {
  position: absolute;
  top: 70%;
  transform: translateY(-100%);
  cursor: pointer;
}

.left-arrow {
  left: 6px;
  color: var(--white-color);
}

.right-arrow {
  right: 1px;
  color: var(--white-color);
}
